/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', Helvetica, sans-serif;
    background-color: #111111;
    color: white;
    overflow-x: hidden;
}


/* 
body {
  margin: 0;
  height: 100vh;
  background: black;
  overflow: hidden;
  position: relative;
} */

/* Layer 1: Small stars */
/* body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: transparent;
  background-image:
    radial-gradient(1px 1px, white 100%, transparent 0),
    radial-gradient(1px 1px, white 100%, transparent 0),
    radial-gradient(1px 1px, white 100%, transparent 0),
    radial-gradient(1px 1px, white 100%, transparent 0),
    radial-gradient(1px 1px, white 100%, transparent 0);
  background-size: 200px 200px, 300px 300px, 400px 400px, 500px 500px, 600px 600px;
  background-position: 0 0, 50px 100px, 100px 200px, 150px 300px, 200px 400px;
  animation: starDrift 100s linear infinite;
  opacity: 0.8;
  z-index: 1;
  pointer-events: none;
}

/* Layer 2: Bigger, brighter stars */
/* body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    radial-gradient(2px 2px, rgba(255,255,255,0.8) 100%, transparent 0),
    radial-gradient(2px 2px, rgba(255,255,255,0.8) 100%, transparent 0),
    radial-gradient(2px 2px, rgba(255,255,255,0.8) 100%, transparent 0);
  background-size: 400px 400px, 600px 600px, 800px 800px;
  background-position: 0 0, 200px 300px, 400px 600px;
  animation: starDrift 200s linear infinite;
  opacity: 0.6;
  z-index: 2;
  pointer-events: none;
} */

/* @keyframes starDrift {
  0% { background-position: 0 0, 50px 100px, 100px 200px, 150px 300px, 200px 400px; }
  100% { background-position: 1000px 1000px, 1050px 1100px, 1100px 1200px, 1150px 1300px, 1200px 1400px; }
} */





/* hero section start here */

.fix-width-of-icon {
    min-width: 60px;
}

.hero-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider-section {
    border-top: 1px solid rgba(255, 129, 42, 0.15);
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

}

.divider-center {
    border-right: 1px solid rgba(255, 129, 42, 0.15);
    border-left: 1px solid rgba(255, 129, 42, 0.15);
    min-width: 500px;
    display: grid;
    grid-template-columns: 0.1fr 1fr .1fr;

}


.divider-middle-content {
    border-right: 1px solid rgba(255, 129, 42, 0.15);
    border-left: 1px solid rgba(255, 129, 42, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    position: relative;
}

.divider-icon {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    padding: 16px 0;
}

.spark-title {
    color: #FFF;
    text-align: center;
    /* font-family: "DM Sans"; */
    font-size: 128px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 179.2px */
    letter-spacing: 4px;
}

@media (max-width: 1360px) {
    .spark-title {
        font-size: 100px;
    }
}


.description-first-line,
.description-second-line {
    color: #FFF;
    text-align: center;
    /* font-family: "DM Sans"; */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.italic {
    color: #FFF;
    font-family: "Instrument Serif";
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 140%;
}

.description-middle-content {
    flex-direction: column;
}

.gradient-button {
    color: #F2F2F2;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 0.75px solid #FFF;
    background: linear-gradient(3deg, #E13E00 2.64%, #FF812A 97.4%);
}

.resource-button {
    background-color: #111111;
    border: 0;
}

.gradient-line-wraper {
    gap: 16px;
}

.gradient-line-left,
.gradient-line-right {
    width: 88px;
    height: 1px;
    border-radius: 100px;
}

.gradient-line-left {
    background: linear-gradient(90deg, rgba(211, 135, 255, 0) 0%, rgba(255, 129, 42, 1) 100%);
}

.gradient-line-right {
    background: linear-gradient(270deg, rgba(211, 135, 255, 0) 0%, rgba(255, 129, 42, 1) 100%);
}

.oss-button-style {
    gap: 16px;
    flex-wrap: wrap;
}

.spark-icon {
    border: 1px solid rgba(255, 129, 42, 0.15);
    margin: 30px;
    width: max-content;
    padding: 10px;
    border-radius: 20px;

}



@media (max-width: 600px) {
    .spark-title {
        font-size: 60px;
    }

    .divider-center {
        min-width: 350px;
    }

    .gradient-line-left,
    .gradient-line-right {
        width: 50px;
    }

    .divider-text {
        font-size: 10px;
        text-size-adjust: 100%;
        text-wrap: nowrap;
    }

    .gradient-line-wraper {
        gap: 6px;
    }

    .gradient-button {
        font-size: 16px;
        /* font-weight: 400; */
    }

    .oss-button-style {
        flex-direction: column;
        width: 100%;
    }

    .gradient-button {
        width: 80%;
    }

    .oss-notes-button {
        width: 80%;
    }
}

/* hero section ends here */










/* here start hero image section */


.hero-image-section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero-image-container {
    height: 900px;
    min-width: 900px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 6px solid yellowgreen; */
    /* min-width: 500px; */
}

.hero-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.blurred-image {
    filter: blur(100px) brightness(2) saturate(1.5);
    opacity: 1;
    z-index: 1;
}


.sharp-image {
    z-index: 2;
    /* Optional: Gradually fade out the bottom edge for a soft finish */
    mask-image: linear-gradient(to bottom, white 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, white 80%, transparent 100%);
}

.about-spark-header-1 {
    border-top: 1px solid rgba(255, 129, 42, 0.15);
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4.5fr 1fr;
}


/* here ends hero image section */





















/* about section start here */



.about-spark-section {
    /* border: 1px solid rgba(255, 129, 42, 0.15); */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-spark-header {
    border-top: 1px solid rgba(255, 129, 42, 0.15);
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    /* min-width: 500px; */
}

/* .shape-icon-border-right,
.shape-icon-border-left{

} */

.shape-icon-wrapper {
    border-right: 1px solid rgba(255, 129, 42, 0.15);
    border-left: 1px solid rgba(255, 129, 42, 0.15);
    min-width: 500px;
}

.spark-icon {
    border: 1px solid rgba(255, 129, 42, 0.15);
    margin: 30px;
    width: max-content;
    padding: 10px;
    border-radius: 20px;

}

.about-spark-container {
    /* border-top: 2px solid red; */
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}

.about-spark-card {
    border-right: 1px solid rgba(255, 129, 42, 0.15);
    border-left: 1px solid rgba(255, 129, 42, 0.15);
    min-width: 500px;
    padding: 3%;
    position: relative;
}

.about-spark-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.about-paragraph {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.highlight {
    color: white;
}

.normal {
    color: #9f9f9f;
}

.about-corner-dot {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #d387ff;
}

.about-corner-dot.bottom-left-purple {
    bottom: -2px;
    left: -2px;
}

.about-corner-dot.bottom-right-purple {
    bottom: -2px;
    right: -2px;
}

.about-corner-dot.top-left-purple {
    top: -2px;
    left: -2px;
}

.about-corner-dot.top-right-purple {
    top: -2px;
    right: -2px;
}

@media (max-width:600px) {
    .shape-icon-wrapper{
        min-width: 350px;
    }
    .about-spark-card{
        min-width: 350px;
    }
}

/* about section ends here here */










/* here starts about detail timeline section */



.about-details-section {
    /* border: 2px solid purple; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gap-seprator-between-timeline {
    min-height: 200px;
    border-top: 1px solid rgba(255, 129, 42, 0.15);
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

}

/* .seprator-border{
    border-left: 1px solid rgba(255, 129, 42, 0.15);
    border-right: 1px solid rgba(255, 129, 42, 0.15);
} */

.timeline-header-wrapper {
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    position: relative;
}

.timeline-header-content {
    border-left: 1px solid rgba(255, 129, 42, 0.15);
    border-right: 1px solid rgba(255, 129, 42, 0.15);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

.timeline-center-header {
    position: relative;
}

.agenda-badge {
    display: flex;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid rgba(178, 108, 57, 0.589);
    color: #FF812A;
    font-size: 16px;
}

.timeline-title {
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 67.2px */
    letter-spacing: 3px;

}

.timeline-content-wrapper {
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    position: relative;
}

.timeline-content {
    border-left: 1px solid rgba(255, 129, 42, 0.15);
    border-right: 1px solid rgba(255, 129, 42, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

.timeline-event-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
}

.timeline-event-header {
    display: flex;
    justify-content: space-between;
}

.timeline-event-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-badge {
    text-align: center;
    border: 1px solid rgba(255, 129, 42, 0.15);
    border-radius: 50px;
    padding: 10px 20px;
}

.timeline-icon {
    height: 40px;
}

.resource-button {
    background-color: #111111;
    border: 0;
}

.resource-icon-img {
    height: 40px;
    cursor: pointer;
}

.timeline-event-title {
    align-self: stretch;
    color: #FFF;
    /* font-family: "DM Sans"; */
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 33.6px */
}

.timeline-event-description {
    align-self: stretch;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}


@media (max-width:600px) {
    .timeline-header-content{
        min-width: 350px;
    }
    .timeline-content{
        min-width: 350px;
    }
    .timeline-icon{
        display: none;
    }
}


/* about detail section timeline ends here */














/* qr container start here */

.qr-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-wrapper {
    border-left: 1px solid rgba(255, 129, 42, 0.15);
    border-right: 1px solid rgba(255, 129, 42, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 24px;
    gap: 3vw;
    min-width: 500px;
}

.qr-text-button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.qr-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
}

.qr-button {
    color: #F2F2F2;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    width: fit-content;
    /* 16px */
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 0.75px solid #FFF;
    background: linear-gradient(3deg, #E13E00 2.64%, #FF812A 97.4%);

}
.gap-seprator-between-timeline {
    min-height: 200px;
    border-top: 1px solid rgba(255, 129, 42, 0.15);
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

}


@media (max-width:600px) {
    .shape-icon-wrapper{
        min-width: 350px;
    }
    .about-spark-card {
        min-width: 350px;
    }
    .qr-wrapper{
        min-width: 350px;
        flex-direction: column;
    }
    .qr-text-button-wrapper{
        align-items: center;        
    }
    .qr-button{
        width: 100%;
    }
    .qr-barcode{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .qr-code-image{
        width: 100%;
        height: auto;
    }
}



/* qr container ends here */






/* faq section start here */

.faq-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inquires-faq-button {
    height: 160px;
    position: relative;
}

.inquires-button {
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #FF812A;
    background: #111;
}

.faq-section-column-part {
    border-top: 1px solid rgba(255, 129, 42, 0.15);
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}

.faqs-button {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 67.2px */
    letter-spacing: 2px;
}

.faq-container {
    border-top: 1px solid rgba(255, 129, 42, 0.15);
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}

.faq {
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
    /* border-bottom: 1px solid rgba(255, 129, 42, 0.15); */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9F9F9F;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.faq-question-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    position: relative;
}

.faq-button {
    background-color: #111;
    border: 0;
}
.timeline-content-faq {
    border-left: 1px solid rgba(255, 129, 42, 0.15);
    border-right: 1px solid rgba(255, 129, 42, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}
.gap-seprator-between-timeline {
    min-height: 200px;
    border-top: 1px solid rgba(255, 129, 42, 0.15);
    border-bottom: 1px solid rgba(255, 129, 42, 0.15);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

}

@media (max-width:600px){
    .timeline-content-faq{
        min-width: 350px;
    }
}